.register-main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-box{
    width: 95vw;
    height: 95vh;
    background: linear-gradient(90deg, rgba(109,199,72,1) 0%, rgba(19,163,38,1) 39%, rgba(83,223,189,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.register-container{
    background-color: whitesmoke;
    height: 70vh;
    width: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.register-head{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-head>h2{
    font-size: 2rem;
    font-weight: bolder;
}